body{
    background-color: rgb(144, 128, 128);
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-weight: bold;
    font-size: 16px;
}

button{
    color: white;
    background-color: brown;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    width: 130px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

h1{
    color: black;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

input{
    background-color: grey;
    border-left: 10px solid red;
    border-right: 10px solid rgb(211, 206, 207);
    border-bottom: 10px solid red;
    border-top: 10px solid rgb(201, 192, 194);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

li{
    color: black;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: 550px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}    